# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

.github/workflows/RemoveCanceledOrders.yml
.github/workflows/Deploy.yml
.github/workflows/RemoveExpiredChatRooms.yml
.github/workflows/RemoveExpiredOrders.yml
.github/workflows/RemoveExpiredProducts.yml
.github/workflows/removeExpiredStories.yml

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
