@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* transparent color on autofill inputs  */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

.hidden-scroll-bar::-webkit-scrollbar {
  display: none;
}

.styled-scroll-bar::-webkit-scrollbar {
  width: 0.38rem;
  background-color: #c4c4c4;
  border-radius: 30px;
}

.styled-scroll-bar::-webkit-scrollbar-thumb {
  background-color: #666666;
  border-radius: 20px;
  cursor: pointer;
}

.horizontal-scroll-bar::-webkit-scrollbar {
  height: 0.5rem;
  background-color: #e7e6e6;
  border-radius: 30px;
}

.horizontal-scroll-bar::-webkit-scrollbar-thumb {
  background-color: #a3a3a3;
  border-radius: 20px;
  cursor: pointer;
}

body::-webkit-scrollbar {
  width: 0.4rem;
  background-color: #b6b6b6;
}

body::-webkit-scrollbar-thumb {
  background-color: #666666;
  cursor: pointer;
}

.pattern-bg {
  background-color: #e5e5f7;
  opacity: 0.4;
  background-image: radial-gradient(#444cf7 2px, transparent 2px),
    radial-gradient(#444cf7 2px, #e5e5f7 2px);
  background-size: 80px 80px;
  background-position: 0 0, 40px 40px;
}

.tooltip::before {
  content: "";
  position: absolute;
  top: -15px;
  width: 20px;
  height: 20px;
  background-color: inherit;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.slider__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider {
  position: relative;
  width: 200px;
}

.slider__track,
.slider__range {
  position: absolute;
}

.slider__track,
.slider__range {
  border-radius: 3px;
  height: 5px;
}

.slider__track {
  background-color: #ced4da;
  width: 200px;
  z-index: 1;
}

.slider__range {
  background-color: #445bee;
  z-index: 2;
}

/* thumb slider  */
/* Removing the default appearance */
.thumb,
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.thumb {
  pointer-events: none;
  position: absolute;
  height: 0;
  width: 200px;
  outline: none;
}

.thumb--zindex-3 {
  z-index: 3;
}

.thumb--zindex-4 {
  z-index: 4;
}

.thumb--zindex-5 {
  z-index: 5;
}

/* For Chrome browsers */
.thumb::-webkit-slider-thumb {
  background-color: #445bee;
  border: none;
  border-radius: 20%;
  box-shadow: 0 0 1px 1px #097df0;
  cursor: pointer;
  height: 15px;
  width: 20px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

/* For Firefox browsers */
.thumb::-moz-range-thumb {
  background-color: #445bee;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #445bee;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

.gradient-background {
  background: linear-gradient(
    317deg,
    deepskyblue,
    darkviolet,
    blue,
    #08cbfc,
    #9608fc,
    #9608fc,
    #9608fc,
    blue,
    blue,
    blue
  );
  background-size: 420% 420%;
  animation: gradient-animation 25s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50% 0%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.inner-shadow {
  -webkit-box-shadow: inset 0px 50px 15px 11px #a2adf68a;
  box-shadow: inset 0px 30px 15px 11px #a2adf68a;
}

.focused-message_shadow {
  -webkit-box-shadow: -32px 46px 201px 41px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: -32px 46px 201px 41px rgba(0, 0, 0, 0.21);
  box-shadow: -32px 46px 201px 41px rgba(0, 0, 0, 0.21);
}
